/*::-webkit-scrollbar {
  width: 0px;
  height:0px;
  background: transparent; /* make scrollbar transparent 
} */

.wrkreq_tab_dataview{
    text-align: center;
    background: #FFFFFF;
}

.rttab_dataview{
  background-color:white; 
}
/* if build took for separate pages add dataview css part */
.wrkreq_tab_stsnum{
    font-size: 14px;
    width:60px;
    height: 30px;
    border-radius: 50px;
    padding-top: 10px;
    font-weight: 700;
}

.wrkreq_tab_stsname { 
    margin: 0px 5px 5px 5px;
    color: #7D8597;
    font-size: 13px;
    padding-bottom: 8px;
}

.x-wrkreqtab-active-F .Factive,.x-wrkreqtab-active-AP .APactive,.x-wrkreqtab-active-FR .FRactive,
.x-wrkreqtab-active-RJ .RJactive,.x-wrkreqtab-active-C .Cactive,.x-wrkreqtab-active-CL .CLactive{
    border-bottom: 2px solid #0073E6;
    color: #33415C;
    font-weight: bold;
}

.rttemplate_tabbar_sec{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

.wrkreqstatus_listsec{    
    background: #FFFFFF;
    box-shadow: 0px 2px 2px lightgrey;
    border-radius: 4px;
    margin: 10px;
  }
  .wrkreqst_listitem{
    color: #7D8597;
    font-size: 12px;
    margin:15px 10px 10px 15px;
  }

  .listitem_wrkreqnum{
    font-weight: 600;
    font-size: 13px;
    color: #33415C;
    margin: 15px auto 10px 0px;
  }

  .wrkreqst_listitem_morevert{
    font-size: 16px;
    margin: 10px 10px 10px 40px;
    color: #33415C;
    
  }
  .wrkreqst_listitem_morevert:hover{
    cursor: pointer;
  }
  .wrkreqst_listitem_dateset{
    margin: 5px 5px 5px 15px;
    font-size: 16px;
    color: #5C677D;
  }

  .wrkreq_btmsec{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgb(0 0 0 / 5%);
    z-index: 10;
  }

  .wrkreq_btmsec_info{
    margin: 10px 10px 10px 20px;
    font-weight: 600;
    width: 70%;
  }

  .wrkreq_btmsec_clear{
    color: grey;
    font: 400 14px/16px Lato Regular;
  }
      
  .popUpItem{
    padding: 11px 33px;
    border-bottom: 1px solid #E9EBEF;
    color: #0073E6;
    font-weight: 600;
    font-size: 14px;
  }

.filterpopup-wrapper .x-dialogheader{
    padding:5px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 5%);
}

.filterpopup-wrapper .x-dialogheader .x-dialogtitle .x-text-el{
  color: #33415C;
}

.filterpopup-wrapper .x-body-el .x-formpanel .x-body-el{
  padding:0px;
}

.filterpopup_bodycontainer{
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 5%);
  border-radius: 4px;
  padding: 15px 10px 60px 10px;
  margin: 10px 10px 0px 10px;
}

@media (min-height: 700px) {
  .rtcontainer-wrksec {
    height: 95vh;
  }
}

.filterpopup_btmcontainer{
  background: #FFFFFF;
  height: 50px;
  box-shadow: 0px -4px 4px rgb(0 0 0 / 5%);
  position: fixed;
  bottom:0px;
  width: 100%;
  z-index: 10;
}

.filterpopup_btmbtns{
  color: #0073E6;
  width:50%;
}

.apply{
  background: #0073E6;
  color: #F0F0F0;
}

.wrkreqactionpopup-content{
  color: #33415C;
  padding: 25px 20px;
  font-size: 13px;
  line-height: 22px;
}

.actionpopup_btmbtn_reset{
  width: 50%;
  color: #7D8597;
  font-size: 14px;
}

.actionpopup_btmbtn_ok{
  width: 50%;
  color: #F0F0F0;
  font-size: 14px;
}

.actionpopup_btmbtn_ok .x-inner-el .x-text-el{
  white-space: pre-wrap;
}

.wrkaction-AUT{
  background: #00AE50;
}

.wrkaction-REJ, .wrkaction-REV{
  background: #FF5C00;
}

.wrkaction-FRWD,.wrkaction-CPY,.wrkaction-EDT,.wrkaction-CLS,.wrkaction-CNL{
  background: #0073E6;
}

.actionpopup-title .x-dialogheader .x-dialogtitle .x-text-el{
  font-size: 14px;
}

.wrkreq-rejecttext .x-body-el{
  border: 0px;    
  height: 30px;
  margin-top: 0px;
  background: transparent;
}

.wrkreq-rejecttext .x-label-el{
  z-index: 0;
  padding-left: 5px;
  background: transparent;
  position: static;
  color: #979DAC;
}

.wrkreq-rejecttext .x-body-el .x-input-el {
  padding: 4px 0;
  color: #33415C;
}

.wrkreq-rejecttext .x-body-el {
  margin-left: 5px;
}

.actionpopup-forward{
  bottom: 0;
  width: 100% !important;
  height: 40% !important;
  border-radius: 20px 20px 0px 0px;
}

/*toast*/
.x-toast{
  bottom: 80px;
}

.wrkreqview-titlestatus{
  font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}