.rtfieldbox{
    margin: 8px 5px;
  }
  
  .rtfieldbox .x-body-el .x-input-el{
    color: #33415C;
    padding-left: 10px;
    font: 400 13px/16px Lato Regular;
  }
  
  .rtfieldbox .x-body-el .x-after-input-el{
    color: #5C677D;
  }
  
  .rtfieldbox .x-underline-el{
    background-color: transparent;
  }

  .rtfieldbox .x-label-el{
    position: absolute;
    left: 10px;  
    background-color: white;
    padding: 1px 2px;
    color: #979DAC;
    font-size: 14px;
    width: auto;
    z-index:10;
  }
  
  .rtfieldbox .x-body-el{
    padding: 10px;
    height: 50px;
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #E9EBEF;
    border-radius: 4px;
  }

  @media (max-width: 600px) {
    .rtfieldbox-flex {
      width:42vw;
    }
  }

  @media (min-width: 600px) {
    .rtfieldbox-flex {    
      width: calc(50% - 10px);
    }
  }
